
body {
    background-image: url('../images/v915-wit-011-f.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-light {
    background-color: rgba(255, 255, 255, 0.8) !important; /* Torna o fundo dos componentes levemente opaco */
}
